################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WingtraAppsDeveloperWorksample/build-AppsDeveloperWorksample-Desktop_Qt_5_12_12_MSVC2017_64bit-Debug
